git+https://github.com/iDevision/enhanced-discord.py
waifuim.py==2.4.6
git+https://github.com/andeh-py/kimetsu
asyncpg==0.25.0
requests==2.26.0
psutil==5.8.0
beautifulsoup4==4.10.0
chat_exporter
easy-pil==0.1.3
mee6-py-api
git+https://github.com/Rapptz/discord-ext/menus
core-js==3.19.3
nuxt==2.15.8
vue==2.6.14
vue-server-renderer==2.6.14
vue-template-compiler==2.6.14
webpack==4.46.0
